language: cpp
solution: SDL2-GUI/SDL2-GUI.sln
sudo: required

before_install:
    - sudo add-apt-repository -y ppa:team-xbmc/ppa -y
    - sudo apt-get -qq update
    - sudo apt-get install libsdl2-dev libsdl-ttf*

script: 
    mkdir build && cd build && cmake .. && make VERBOSE=1 && cd ..
