language: cpp
solution: SDL2-GUI/SDL2-GUI.sln
sudo: required

before_install:
    - sudo apt-get -qq update
    - sudo apt-get -y install libsdl-ttf2* 

script: 
    mkdir build && cd build && cmake .. && make VERBOSE=1 && cd ..
